@(customer: models.users.Customer)

@import play.api.Play.current
@import models.shopping._
@import models.products._
@import helper._

@main("Shopping Basket", customer) {
    @*form(action = routes.ShoppingCtrl.setDiscount(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data")*@
        @*CSRF.formField*@

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />

            <meta charset="UTF-8"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <!-- Stylesheets -->
            <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>
            <link rel="stylesheet" href="/assets/css/owl.carousel.css"/>
            <link rel="stylesheet" href="/assets/css/style.css"/>
            <link rel="stylesheet" href="/assets/css/animate.css"/>


            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->


        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    </head>
    <body >
<div class="row">


	<div class="col-md-12">

        @if(flash.containsKey("error")) {
            <div class="alert alert-danger">
            @flash.get("error")
            </div>
        }


        <table class="table table-bordered table-hover table-condensed" style="background-color:white;">
			<thead>
			<tr>
				<th>Name</th>
				<th style="width:400px;">Description</th>
				<th style="width:80px;">Item Price</th>
				<th style="width:60px;">Total</th>
				<th>Quantity</th>
                <th>Dec.</th>
                <th>Inc.</th>
			</tr>
			</thead>
			<tbody>
                @if(customer.getBasket() != null) {
                    @for(i <- customer.getBasket().getBasketItems()) {
                    <tr>
                        <td>@i.getProduct.getName</td>
                        <td>@i.getProduct.getDescription()</td>
                        <td>&euro; @("%.2f".format(i.getPrice))</td>
                        <td>&euro; @("%.2f".format(i.getItemTotal))</td>
                        <td>@i.getQuantity()</td>
                        <td><a href="@routes.ShoppingCtrl.removeOne(i.getId,i.getProduct.getId())"><span class="glyphicon glyphicon-minus-sign"></span></a></td>
                        <td><a href="@routes.ShoppingCtrl.addOne(i.getId,i.getProduct.getId())"><span class="glyphicon glyphicon-plus-sign"></span></a></td>
                    </tr>
                    }
              }
			</tbody>
		</table>
        <div class="row">
            <div class="col-md-12">
                <p class="text-right"><strong>Basket Total: &euro; @("%.2f".format(customer.getBasket.getBasketTotal))</strong></p>
                @if(customer.getBasket.getDiscount.getDiscountID() != "null"){
                    <p class="text-right"><strong>Discount Applied: </a> @(customer.getBasket().discount.getDiscountID())</strong></p>
                }
            </div>  
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="@routes.ShoppingCtrl.applyDiscount()">
                    <button class="btn btn-primary">Apply Discount</button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="text-right">
                    <a href="@routes.ShoppingCtrl.emptyBasket()" class="btn btn-danger btn-sm" onclick="return confirmDel();">
                    <span class="glyphicon glyphicon-trash"></span> Empty Basket</a>
                </p>
            </div>  
            <!-- <div class="col-md-6">
                <p class="text-right">
                    <a href="@routes.ShoppingCtrl.placeOrder()" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-euro"></span> Place Order</a>
                </p>
            </div>  
      -->

        <div id="paypal-button"></div>
    </div>

<script>
	function confirmDel() {
		return confirm('Are you sure?');
	}
</script>



        <form action="@routes.ShoppingCtrl.placeOrder()" method="GET">
            <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_hpLfBptgL9qbpWeuJgoX3AO500njVt1MOk"
            data-amount='@("%.0f".format(customer.getBasket.getBasketTotal))00'
            data-name="CDR Games"
            data-description="Widget"
            data-image="https://i.imgur.com/LFo4Tjb.png"
            data-locale="auto"
            data-currency="eur">
            </script>
        </form>

}



    <keep-alive>

        <script>
  paypal.Button.render({
      createOrder: function(data, actions) {
          return actions.order.create({
              purchase_units: [{
                  amount: {
                      value: '@("%.2f".format(customer.getBasket.getBasketTotal))'
                  }
              }]
      })},
      onAuthorize: function(data, actions) {
          return actions.request('/placeOrder')
      }
      }, '#paypal-button');
</script>


        @*<script>*@
  @*paypal.Button.render({*@
      @*env: 'sandbox', // Or 'production'*@
      @*// 1. Add a payment callback*@
      @*payment: function(data, actions) {*@
          @*// 2. Make a request to your server*@
          @*return actions.request.post('/my-api/create-order/')*@
                  @*.then(function(res) {*@
                      @*// 3. Return res.id from the response*@
                      @*return res.id;*@
                  @*});*@
      @*},*@
      @*// 4. Add an onAuthorize callback*@
      @*onAuthorize: function(data, actions) {*@
          @*// 5. Make a request to your server*@
          @*return actions.request.post('/my-api/capture-payment/', {*@
              @*OrderID: data.orderID,*@
          @*})*@
                  @*.then(function(res) {*@
                      @*// 6. Show the buyer a confirmation message.*@
                  @*});*@
      @*}*@
  @*}, '#paypal-button');*@
@*</script>*@

    </keep-alive>
</div>
</div>
</section>
    </body>
