@(addressForm: Form[models.users.Address],user: models.users.Customer)

@import helper._

@main("Change Address",user){


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/css/owl.carousel.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/animate.css"/>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>


<div style=" 
		margin-left: 0px;
		margin-right: 0px;
                    background: #eee;
                    padding: 3em;
                    line-height: 1.5em; ">

    @if(flash.containsKey("error")) {
        <div class="alert alert-danger">
        @flash.get("error")
        </div>
    }

    <div class="col-md-12">
        @if(flash.containsKey("success")) {
            <div class="alert alert-success">
            @flash.get("success")
            </div>
        }

        <p class="lead">Change your Address</p>

            <!-- Use a views.html.helpers package method to create the form (instead of html)-->
            <!-- Note the arguments that are being passed to the scala function form (they are
         essentially instructions for constructing an HTML form element)-->
        @form(action=routes.HomeController.changeAddressSubmit, 'class -> "form-horizontal", 'role -> "form") {
            @* CSRF attack prevention *@
            @* This token, sent by the controller, will be used to authenticate the form submission *@

            @*The required fields are showing because of the constraints. Gonna look into this.*@
            @CSRF.formField

            @inputText(addressForm("fName").copy(value=Some(user.getAddress.getfName())), '_label -> "Name")
            @inputText(addressForm("lName").copy(value=Some(user.getAddress.getlName())), '_label -> "Surname")
            @inputText(addressForm("streetAddress").copy(value=Some(user.getAddress.getStreetAddress())), '_label -> "Street Address")
            @inputText(addressForm("town").copy(value=Some(user.getAddress.getTown())), '_label -> "Town")
            @inputText(addressForm("country").copy(value=Some(user.getAddress.getCountry())), '_label -> "Country")
            @inputText(addressForm("eircode").copy(value=Some(user.getAddress.getEircode())), '_label -> "Postcode")


            <!-- We use the bootstrap actions class for the buttons at the bottom:
                1. The submit button for the form
                2. A button that allows the user to cancel without adding an item
            -->
        <div class="actions">
            <input type="submit" value="Add/Update Customer" class="btn btn-primary">
            <a href="@routes.HomeController.profile()">
                <button type="button" class="btn btn-warning">Cancel</button>
            </a>
        </div>
</div>
} @* end of form *@
} @* end of main *@
