@import models.products.{Category, Product}
@import models.users.User
@(env: play.api.Environment, categories: List[Category], products: List[Product], catId: Long, filter: String, user: User)



@main("Products Page", user) {
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Stylesheets -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/assets/css/owl.carousel.css"/>
	<link rel="stylesheet" href="/assets/css/style.css"/>
	<link rel="stylesheet" href="/assets/css/animate.css"/>
 
	
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
     
    </head>

<!-- Page section -->
	
	<section class="page-section community-page set-bg" >
		<div class="community-warp spad">
			<div class="container">
				<div class="row">

	 			<ul class="community-post-list">
					<li><a href="@routes.ProductCtrl.listProducts(0, filter)" class="fw-title"><p style="font-size:15px;color:#007bff;">All categories</p></a></li>
					@for(c <- categories) {
					<li>	
								<a href="@routes.ProductCtrl.listProducts(c.getId, filter)" class="fw-title" ><p style="font-size:15px;color:#007bff;">@c.getName</p></a>
					</li>
					}
				</ul>
			</div>
		
	</section>
	<!-- Page section end -->


		<div class="col-md-9">
			@if(flash.containsKey("success")) {
				  <div class="alert alert-success">
					  @flash.get("success")
				  </div>
			}

			<!-- Search Form -->

					<div class="widget-item">
						<form action="@routes.ProductCtrl.listProducts(catId)" method="GET" class="search-widget">
							<input type="search" id="searchbox" name="filter" value="@filter" placeholder="Search by name...">
							<button ><input style="color:black;" type="submit" id="searchsubmit" value="🔍 Search"></button>
						</form>
					</div>

			


<div class="container" style=" margin: 0 auto; text-align: center; height:80%;">
@for(p <- products) {
  <div class="well">
      <div class="media">
      	<a class="pull-left" href="@routes.HomeController.product(p.getId, "")">
    		@if(env.resource("public/images/productImages/thumbnails/" + p.getId + ".jpg").isDefined) {
							<td><img src="/assets/images/productImages/thumbnails/@(p.getId).jpg" class="game"/></td>
						} else {
							<td><img src="/assets/images/productImages/thumbnails/noImage.png" class="game"/></td>
						}

  		</a>
  		<div class="media-body">
			<h4 class="media-heading"><a href="@routes.HomeController.product(p.getId, "")"> @p.getName</a>
				| @p.getPlatform.getName</h4>
          <p class="text-right">&euro; @("%.2f".format(p.getPrice))</p>
          <p>@p.getDescription</p>
          <ul class="list-inline list-unstyled">
			  @if(p.getStock > 0){
				  @if(user.isInstanceOf[models.users.Customer]){
  			<li><a href="@routes.ShoppingCtrl.addToBasket(p.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span> Add to basket</a></li>
				  }}
            <li>|</li>
            <span><i class="glyphicon glyphicon-comment"></i> @p.reviewCount</span>
            <li>|</li>
            <li>
               <p>Stock: @p.stockShortage</p>
            </li>
            <li>|</li>
            <li>
            <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
              @*<span><i class="fa fa-facebook-square"></i></span>*@
              @*<span><i class="fa fa-twitter-square"></i></span>*@
              @*<span><i class="fa fa-google-plus-square"></i></span>*@
            </li>
			</ul>
        </div>
    </div>
  </div>

}
 </div>


			
		</div>
	</div>
<!-- Footer section -->

	<!-- Footer section end -->
</div>

</div>
</div>
}