@import models.products.{Category, Product}
@import models.users.User
@(env: play.api.Environment, categories: List[Category], products: List[Product], catId: Long, filter: String, user: User)



@main("Products Page", user) {

	<style>
		form {
			margin-bottom: 1em;
		}

		.list-group{
    max-height: 300px;
    margin-top: 12px;
    margin-bottom: 12px;
	overflow: auto;
    -webkit-overflow-scrolling: touch;
}

	.game{
	width: 101%;
	padding-top:2.6em;
	padding-right:1em;
	}
	</style>

	<div class="row">

	  <div class="col-md-3">
	<div class="list-group">

			<a href="@routes.ProductCtrl.listProducts(0, filter)" class="list-group-item">All categories</a>
			@for(c <- categories) {
		<a href="@routes.ProductCtrl.listProducts(c.getId, filter)" class="list-group-item">@c.getName</a>
			}
	</div>
	  </div>

		<div class="col-md-9">
			@if(flash.containsKey("success")) {
				  <div class="alert alert-success">
					  @flash.get("success")
				  </div>
			}

			<!-- Search Form -->
			<div id="actions">
			 <form action="@routes.ProductCtrl.listProducts(catId)" method="GET">
				<input type="search" id="searchbox" name="filter" value="@filter" placeholder="Filter by product name...">
				<input type="submit" id="searchsubmit" value="Filter by name" class="btn-md btn-primary">
			 </form>
			</div>


<div class="container">
@for(p <- products) {
  <div class="well">
      <div class="media">
      	<a class="pull-left" href="@routes.HomeController.product(p.getId, "")">
    		@if(env.resource("public/images/productImages/thumbnails/" + p.getId + ".jpg").isDefined) {
							<td><img src="/assets/images/productImages/thumbnails/@(p.getId).jpg" class="game"/></td>
						} else {
							<td><img src="/assets/images/productImages/thumbnails/noImage.png" class="game"/></td>
						}

  		</a>
  		<div class="media-body">
			<h4 class="media-heading"><a href="@routes.HomeController.product(p.getId, "")"> @p.getName</a>
				| @p.getPlatform.getName</h4>
          <p class="text-right">&euro; @("%.2f".format(p.getPrice))</p>
          <p>@p.getDescription</p>
          <ul class="list-inline list-unstyled">
  			<li><a href="@routes.ShoppingCtrl.addToBasket(p.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span> Add to basket</a></li>
            <li>|</li>
            <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
            <li>|</li>
            <li>
               <p>Stock: @p.stockShortage</p>
            </li>
            <li>|</li>
            <li>
            <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
              <span><i class="fa fa-facebook-square"></i></span>
              <span><i class="fa fa-twitter-square"></i></span>
              <span><i class="fa fa-google-plus-square"></i></span>
            </li>
			</ul>
        </div>
    </div>
  </div>

}
 </div>


			
		</div>
	</div>
}