@import models.users.User
@(pagename: String, user: User)(content:Html)
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
				.footer { font-weight: bold; color: white; background-color: black; i}
				.sidecol { font-weight: bold; background-color: steelblue; }
				.sidecol h2 { font-weight: bold; }
				.midcol h1 { margin-top: 2em; text-align: center; font-weight: bold; }
				.midcol h3 { text-align: center; color: steelblue; }
				.redtext { color: red; }

				.navbar {background-color: #2D2D2D; color: #A5A5A5; }
				.sidecol {background-color: #2D2D2D; color: #A5A5A5; }
				.footer {background-color: #2D2D2D; color: #A5A5A5; }
				.sidebar { width: 33%; float: right;}
				.dropdown {  }
				.navbar-right{  }
				.headerImg { width: 100%; text-align: center; }



		</style>
		<title>OFM @pagename</title>
	</head>
	<body>

		<div class = "headerImg">
			<p> Header Img Goes Here </p>
		</div>

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<ul class="nav navbar-nav">

					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">PlayStation
							<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li @if(pagename == "Playstation FPS"){class="active"}><a href="@routes.HomeController.index()">FPS</a></li>
							<li @if(pagename == "Playstation Platformer"){class="active"}><a href="@routes.HomeController.index()">Platformer</a></li>
							<li @if(pagename == "Playstation Horror"){class="active"}><a href="@routes.HomeController.index()">Horror</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">XBOX
							<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li @if(pagename == "XBOX FPS"){class="active"}><a href="@routes.HomeController.index()">FPS</a></li>
							<li @if(pagename == "XBOX Platformer"){class="active"}><a href="@routes.HomeController.index()">Platformer</a></li>
							<li @if(pagename == "XBOX Horror"){class="active"}><a href="@routes.HomeController.index()">Horror</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Nintendo
							<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li @if(pagename == "Nintendo FPS"){class="active"}><a href="@routes.HomeController.index()">FPS</a></li>
							<li @if(pagename == "Nintendo Platformer"){class="active"}><a href="@routes.HomeController.index()">Platformer</a></li>
							<li @if(pagename == "Nintendo Horror"){class="active"}><a href="@routes.HomeController.index()">Horror</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">PC
							<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li @if(pagename == "PC FPS"){class="active"}><a href="@routes.HomeController.index()">FPS</a></li>
							<li @if(pagename == "PC Platformer"){class="active"}><a href="@routes.HomeController.index()">Platformer</a></li>
							<li @if(pagename == "PC Horror"){class="active"}><a href="@routes.HomeController.index()">Horror</a></li>
						</ul>
					</li>

				</ul>


				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="@routes.LoginController.login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>

			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">

				<div class="col-sm-8">
					<div class="midcol">
					@content
					</div>
				</div>
				<div class="sidebar">
					<div class="well sidecol">
						<h2>Side Bar</h2>
						<h3>???</h3>
						<p>?????????????????????????</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="well footer">
						Website created by ABC Sights
					</div>
				</div>
			</div>
		</div>


	</body>
</html>

