@(product: models.products.Product, filter:String ,user : models.users.User, e: play.api.Environment)

@main("Product", user) {
    <p class="producthead">@product.getName()</p>

    <div class="col-sm-3">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <link href="https://fonts.googleapis.com/css?family=Glegoo|Open+Sans" rel="stylesheet">
                <style>

                        .pic {
                        padding-top: 1em;
                            border:1px solid #021a40;
                        }

                        .lead{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1em;
                        }

                        .producthead{
                            font-family: 'Glegoo', serif;
                            font-weight: bold;
                            font-size: 2em;
                        }

                        .text-right{
                            padding-left: 28em;
                            font-weight: bold;
                            font-size: 1.6em;
                        }


                </style>
            </thead>
            <tbody>


                @if(e.resource("public/images/productImages/" + product.getId + ".jpg").isDefined) {
                    <img class = "pic" src="/assets/images/productImages/@(product.getId).jpg"/>
                } else {
                    <img class = "pic" src="/assets/images/productImages/thumbnails/noImage.png"/>
                }

                <p class = "text-right"> Price: &euro; @("%.2f".format(product.getPrice)) </p>
                <p class = "lead" >@product.getDescription</p>


                <div class="actions">
                    <a href="@routes.ShoppingCtrl.addToBasket(product.getId)">
                        <button type="button" class="btn btn-lg btn-primary" >Add to Cart</button>
                    </a>
                </div>

            </tbody>
        </table>
    </div>
}