@(product: models.products.Product, filter:String ,user : models.users.User, e: play.api.Environment)

@main("Product", user) {
    <p class="lead">@product.getName()</p>

    <div class="col-sm-3">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <link href="https://fonts.googleapis.com/css?family=Glegoo|Open+Sans" rel="stylesheet">
                <style>

                        img {
                        padding-left: 0em;
                            border:1px solid #021a40;
                        }

                        .description{
                            font-family: 'Open Sans', sans-serif;
                            padding-left: 24em;
                        }

                        .lead{
                            font-family: 'Glegoo', serif;
                            font-weight: bold;
                        }

                        .bold{

                        }

                        .price{
                            padding-left: 24em;
                            padding-top: 20em;
                        }




                </style>
            </thead>

            <tbody>


                @if(e.resource("public/images/productImages/" + product.getId + ".jpg").isDefined) {
                    <img src="/assets/images/productImages/@(product.getId).jpg"/>
                } else {
                    <img src="/assets/images/productImages/thumbnails/noImage.png"/>
                }

                <bold class = "price"> €@product.getPrice </bold>


                <p class = "description" >@product.getDescription</p>



            </tbody>
        </table>
    </div>
}