@(vf: Form[models.users.Valid] ,userForm: Form[models.users.Customer], addressForm: Form[models.users.Address], user: models.users.User)

    @import helper._

    @main("Register User",user){
<div style=" 
                    background: #eee;
                    padding: 5em;
                    line-height: 1.5em; ">

        @if(flash.containsKey("error")) {
            <div class="alert alert-danger">
            @flash.get("error")
            </div>
        }

        <div class="col-md-12">
            @if(flash.containsKey("success")) {
                <div class="alert alert-success">
                @flash.get("success")
                </div>
            }

        <p class="lead">Registration</p>

            <!-- Use a views.html.helpers package method to create the form (instead of html)-->
            <!-- Note the arguments that are being passed to the scala function form (they are
         essentially instructions for constructing an HTML form element)-->
        @form(action=routes.HomeController.registerUserSubmit(), 'class -> "form-horizontal", 'role -> "form") {
            @* CSRF attack prevention *@
            @* This token, sent by the controller, will be used to authenticate the form submission *@
            @CSRF.formField


            @inputText(userForm("email"), '_showConstraints->false, '_label -> "Email", 'class -> "form-control")
            @inputText(userForm("fName"), '_showConstraints->false, '_label -> "Name", 'class -> "form-control")
            @inputText(userForm("lName"), '_showConstraints->false, '_label -> "Surname", 'class -> "form-control")
            @inputText(userForm("password"), '_showConstraints->false, '_label -> "Password", 'class -> "form-control")
            @inputText(vf("password2"), '_showConstraints->false, '_label -> "Confirm Password", 'class -> "form-control")
            @inputText(userForm("role").copy(value=Some("customer")), '_label -> "",'hidden -> "hidden")



            <!-- We use the bootstrap actions class for the buttons at the bottom:
                1. The submit button for the form
                2. A button that allows the user to cancel without adding an item
            -->
        <div class="actions">
            <input type="submit" value="Register user" class="btn btn-primary">
            <a href="@routes.HomeController.registerUser()">
                <button type="button" class="btn btn-warning">Cancel</button>
            </a>

            @inputText(addressForm("fName").copy(value=Some("")), '_label -> "",'hidden -> "hidden")
            @inputText(addressForm("lName").copy(value=Some("")), '_label -> "",'hidden -> "hidden")
            @inputText(addressForm("streetAddress").copy(value=Some("")), '_label -> "",'hidden -> "hidden")
            @inputText(addressForm("town").copy(value=Some("")), '_label -> "",'hidden -> "hidden")
            @inputText(addressForm("eircode").copy(value=Some("")), '_label -> "",'hidden -> "hidden")
            @inputText(addressForm("country").copy(value=Some("")), '_label -> "",'hidden -> "hidden")



        </div>
</div>
    } @* end of form *@
    } @* end of main *@